Backend/Backend_maracuya_store/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Backend/Backend_maracuya_store/bin/roslyn/Microsoft.CodeAnalysis.dll
Backend/Backend_maracuya_store/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Backend/Backend_maracuya_store/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Backend/Backend_maracuya_store/bin/roslyn/System.Collections.Immutable.dll
Backend/Backend_maracuya_store/bin/roslyn/System.Reflection.Metadata.dll
Backend/Backend_maracuya_store/bin/roslyn/VBCSCompiler.exe
